.DS_Store
/.build
.crush
/Packages
xcuserdata/
docs/
*.app/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.worktrees/
.worktrees/
